<form action="">
<select name="cuisine">
    <option value="null">Choose cuisine</option>
    {{#cuisines}}
    <option value="{{name}}">{{name}} ({{count}})</option>
    {{/cuisines}}
</select>
<select name="ingredient">
    <option value="null">Choose your favorite ingredient</option>
    {{#ingredients}}
    <option value="{{name}}">{{name}} ({{count}})</option>
    {{/ingredients}}
</select>
<label for="calories-range">Calories per day:</label>
<input name="calories" type="number" min="{{minCalories}}" max="{{maxCalories}}" step="{{caloriesStep}}" id="calories-range" value="2000">
<button class="submit">Go</button>
</form>